/* archive */

.archive {
  margin: auto;
}

.archive-title {
  @extend .f3;
  margin-bottom: 0.5em;
  text-align: center;
}

.archive a, .archive span {
  display: block;
  float: left;
  margin-bottom: -1px;
  text-decoration: none;
}
.archive li:not(:last-child) {
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: -1px;
}

.archive a.last, .archive span.last {
  border: 0;
  margin-bottom: 0;
}

.archive a {
  white-space: nowrap;
}

.archive .year-label,
.archive .month-label {
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
}

.archive .year-label {
  width: 4em;
}

.archive .month-label {
  width: 7em;
}

.archive ul {
  list-style: none;
  margin: 0;
}

.archive ul li {
  margin: 0;
}

@media (max-width: 690px) {
  .archive {
    width: 90%;
    margin: 0 auto;
  }
  .archive * {
    float: none !important;
    line-height: 1.4 !important;
    width: auto !important;
    height: auto !important;
    border: 0 !important;
    margin: 0 !important;
  }

  .archive .year-label,
  .archive .month-label {
    text-align: left;
  }
}