/* article */

.article {
  margin: 2em 0 2em;
}

.article header {
  border-top: 1px solid $light-silver;
}

.article header h2 {
  text-align: center;
}

.article header h2 a {
  text-decoration: none;
}

.article header .date {
  @extend .f6;
  text-align: center;
  margin-top: -0.7em;
}

.article header .date span {
  background-color: $light-gray;
  padding: 0 1em;
}

.article.intro .content p {
  display: inline;
}

.article.intro .content .more {
  text-decoration: underline;
  font-weight: bold;
  padding-left: 0.3em;
}

.article .content img {
  display: block;
  width: 100%;
}

.more, .date {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

@media (max-width: 690px) {
  .article {
    margin: 1em 0 2.5em;
  }
}