// _base.scss

body {
  font-size: 100%;

  @media #{$breakpoint-medium} {
    font-size: 125%;
  }

  @media #{$breakpoint-large} {
    font-size: 150%;
  }

  text-rendering: optimizeLegibility;

  @extend .f5;
  @extend .lh-copy;
  @extend .measure-narrow;
  @extend .measure-m;
  @extend .measure-wide-l;
  @extend .center;
  @extend .font-body;
}

a {
  @extend .black;
}

a:hover {
  @extend .dark-blue;
  @extend .underline;
}

pre {
  @extend .f6;
  overflow: auto;
  border: 1px solid $moon-gray;
  border-radius: 0.25em;
  padding: 1em;
}

h1 {
  @extend .f2;
  @extend .lh-title;
  @extend .mv3;
}

h2 {
  @extend .f3;
}

h3 {
  @extend .f4;
}

blockquote {
  font-style: italic;
}
