// _base.scss

@import "tachyons.scss";

html {
  font-size: 150%;
}

body {
  @extend .f5;
  @extend .lh-copy;
  @extend .measure-wide;
  font-family: 'Lato', sans-serif;
  background-color: $white;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
}

a {
  color: $black;
}

a:hover {
  color: $dark-blue;
  text-decoration: underline;
}

pre {
  @extend .f6;
  overflow: auto;
  background: $white;
  border: 1px solid $moon-gray;
  border-radius: 0.25em;
  padding: 1em;
}

h1 {
  @extend .f2;
  @extend .lh-title;
}

h2 {
  @extend .f3;
}

h3 {
  @extend .f4;
}

blockquote {
  font-style: italic;
}

@media (max-width: 900px) {
  html {
    font-size: 125%;
  }
  body {
    max-width: 30em;
  }
}

@media (max-width: 690px) {
  html {
    font-size: 100%;
  }
  body {
    max-width: 20em;
  }
}