// _footer.scss

footer {
  margin: 3em 0;
}

footer .nav {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3.5em;
}

footer .nav a {
  padding: 0 0.5em;
  font-size: 1.2em;
  text-decoration: none;
}

footer .about {
  text-align: center;
  border-top: 1px dashed #d2d2d2;
  padding: 2.2em 3em;
  font-size: 0.7em;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

footer .copy {
  text-align: center;
  font-size: 0.7em;
  margin-top: 1em;
}

footer .copy, footer .copy a {
  color: #8e8e8e;
}
