/* media queries */
@media (min-width: 1600px) {
  body { font-size: 26px; }
}

@media (max-width: 900px) {
  body { font-size: 18px; }
}

@media (max-width: 690px) {
  .content-wrap {
    width: auto;
    padding: 0 1em;
  }
  .header {
    margin: 1em 0;
  }
  .header h1 {
    font-size: 1.4em;
    margin-bottom: 0.6em;
  }
  .header .description {
    font-size: 1em;
  }
  .article {
    margin: 1em 0 2.5em;
  }
  .archive {
    width: 80%;
    margin: 0 auto;
  }
  .archive * {
    float: none !important;
    line-height: 1.6 !important;
    width: auto !important;
    height: auto !important;
    text-align: left !important;
    // border: 0 !important;
    margin: 0 !important;
  }
  footer {
    .nav {
      margin: 1em 0;
    }
    .about {
      padding: 0;
      font-size: 0.9em;
      padding-top: 1.6em;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      -ms-column-count: 1;
      column-count: 1;
    }

    .about p {
      margin-bottom: 1em;
    }
  }
}