{% extends "layout.html" %}

{% block title %}
  {{ page.title + ' - '}}
  {{ super() }}
{% endblock %}

{% block header %}
  {% from "author.html" import author %}
  <header class="black tc mt4 mb2">
    <h1 class="mv2">{{page.title}}</h1>
    <p class="small-caps ttl f4 mv2">Written by {{author(contents.authors, page.metadata.author)}}</p>
  </header>
{% endblock %}

{% block content %}
  <article class="measure">
    {{typogr(page.html).typogrify()}}
  </article>
{% endblock %}

{% block footer %}
  <footer class="tc mv4">
    <nav>
      <a class="no-underline" href="{{contents.index.url}}">&laquo; Full blog</a>
    </nav>
  </footer>
{% endblock %}
