{% extends "layout.html" %}

{% block vars %}
  {{ super() }}
  {% set bodyclass = 'article-detail' %}
{% endblock %}

{% block title %}
  {{ page.title + ' - '}}
  {{ super() }}
{% endblock %}

{% block header %}
  {% from "author.html" import author %}
  <h1>{{page.title}}</h1>
  <p class="author">Written by {{author(page.metadata.author)}} </p>
{% endblock %}

{% block content %}
  <article class="article">
    <section class="content">
      {{typogr(page.html).typogrify()}}
    </section>
  </article>
{% endblock %}

{% block footer %}
  <div class="nav">
    <a href="{{contents.index.url}}">&laquo; Full blog</a>
  </div>
{% endblock %}
