<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/"
  xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    {% set articles = env.helpers.getArticles(contents) %}
    <title>{{name}}</title>
    <atom:link href="{{url}}/feed.xml" rel="self" type="application/rss+xml"></atom:link>
    <link>{{url}}</link>
    <description>{{description}}</description>
    <pubDate>{{articles[0].rfc822date}}</pubDate>
    <generator>Wintersmith - https://github.com/jnordberg/wintersmith</generator>
    <language>en</language>
    {% for article in articles %}
      {% set permalink = url + article.url %}
      <item>
        <title>{{article.title}}</title>
        <link>{{permalink}}</link>
        <pubDate>{{article.rfc822date}}</pubDate>
        <guid isPermaLink='true'>{{permalink}}</guid>
        <author>{{article.author}}</author>
        <description>{{article.getHtml(url) | escape}}</description>
      </item>
    {% endfor %}
  </channel>
</rss>