<!DOCTYPE html>
{% block vars %}
{% endblock vars %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}{{name}}{% endblock %}
    </title>
    <link rel="alternate" href="{{url}}/feed.xml" type="application/rss+xml" title="{{description}}">
    <link rel="stylesheet" href="/styles/main.css">
    {{ env.helpers.livereload() | safe }}
  </head>
  <body class="measure-wide">
    <header class="header">
      {% block header %} 
        <div class="logo">
          <h1><a href="{{url}}">{{name}}</a></h1>
          <p class="description">{{description}}</p>
        </div>
      {% endblock %}
    </header>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <footer>
      {% block footer %}
        <section class="about">
          {{ contents['about.md'].html }}
        </section>
        <section class="copy">
          <p>&copy; James Zhu, 2017  &mdash; built with&nbsp;<a href="https://github.com/jnordberg/wintersmith">Wintersmith</a></p>
        </section>
      {% endblock %}
    </footer>
  </body>
</html>