<!DOCTYPE html>
{% block vars %}
{% endblock vars %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}
        {{name}}
      {% endblock %}
    </title>
    <link rel="alternate" href="{{url}}/feed.xml" type="application/rss+xml" title="{{description}}">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- livereload.js injection -->
    {{ env.helpers.livereload() | safe }}
  </head>
  <body>
    <header class="header">
      <div class="content-wrap">
        {% block header %} 
          <div class="logo">
            <h1><a href="{{url}}">{{name}}</a></h1>
            <p class="description">{{description}}</p>
          </div>
        {% endblock %}
      </div>
    </header>
    <div id="content">
      <div class="content-wrap">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer>
      <div class="content-wrap">
        {% block footer %}
          <section class="about">
              {{ contents['about.md'].html }}
          </section>
          <section class="copy">
            <p>&copy; James Zhu, 2017  &mdash; powered by&nbsp;<a href="https://github.com/jnordberg/wintersmith">Wintersmith</a></p>
          </section>
        {% endblock %}
      </div>
    </footer>
  </body>
</html>